<div>
  <div>
    <div *ngFor="let item of booksInCart">
      <mat-card class="example-card">
        <mat-card-title-group>
          <mat-card-title>{{ item.title }}</mat-card-title>
          <mat-card-subtitle>{{ item.amount }} in Cart</mat-card-subtitle>
          <img mat-card-sm-image [src]="item.image" alt="Photo of a book" />
        </mat-card-title-group>
      </mat-card>
      <br />
    </div>
  </div>
  <div>
    <mat-card-actions>
      <button mat-raised-button class="nav-details" (click)="onClickCheckout()">
        Checkout
      </button>
    </mat-card-actions>
  </div>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
