.example-card {
  max-width: 1000px;
  margin-bottom: 8px;
}
.material-icons.md-18 { font-size: 18px;color: white }
  .material-icons.md-24 { font-size: 24px;color: 
  #0000FF }
  .material-icons.md-36 { font-size: 36px;color: 
  #0000FF }
  .material-icons.md-48 { font-size: 48px;color: 
  #0000FF  }